<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <script src="lib/codemirror.js"></script>
    <link rel="stylesheet" href="lib/codemirror.css">
    <script src="lib/codemirror.js"></script>
    <link rel="stylesheet" href="theme/monokai.css">
    <script src="mode/javascript/javascript.js"></script>
    <script src="mode/css/css.js"></script>
    <script src="mode/xml/xml.js"></script>
    <script src="addon\edit/closetag.js"></script>
    <script src="addon/hint/show-hint.js"></script>
    <script src="addon/hint/javascript-hint.js"></script>
    <link rel="stylesheet" href="addon/hint/show-hint.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="assets/js/controladorEditor.js"></script>
    <title>Document</title>
    <style>
        body {
            background-color: #eee;
        }
    </style>
</head>

<body>
    <input type="text" class="form-control my-4 w-50 mx-auto" value={{nombre}} id="nombre">
    <textarea id="codeeditor">
    </textarea>
    <input type="button" class="btn btn-primary w-25 my-4 mx-auto" id="boton" value="enviar"> {{!--
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("codeeditor"),
            {
                mode: "javascript",
                theme: "monokai",
                //tabSize:2,
                indentUnit: 3,
                lineNumbers: true,
                lineWrapping: true,
                extraKeys: { "Ctrl-Space": "autocomplete" },
                autoCloseTags: true
            });
    </script> --}}

    {{!-- <script src="assets/js/controladorEditor.js"></script> --}}
</body>

</html>